.ad-stage {
  position: relative;
  z-index: var(--z-unit);
  display: flex;
  width: 100%;
  justify-content: center;
  background: rgb(20 20 20);
}

.ad-stage__canvas {
  position: relative;
  overflow: hidden;
  width: var(--ad-width);
  height: var(--ad-height);
  background: var(--ad-background);
}

.ad-stage__model {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
