.big-grey-box {
  position: relative;
  z-index: var(--z-chrome);
  display: flex;
  width: 100%;
  justify-content: center;
}

.big-grey-box__inner {
  position: relative;
  overflow: hidden;
  width: min(100%, var(--big-grey-box-width));
  min-height: calc(100vh - var(--header-height) - var(--ad-height));

  /* background: var(--big-grey-box-background); */
  background: #000000;
}

.big-grey-box__chrome {
  display: block;
  width: 1280px;
  height: auto;
  opacity: 0.1;
}
